<%-include("header")-%>
<h1>
    about us
</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste doloremque eveniet, eum, sit alias obcaecati quis amet et, ea ullam vitae sapiente.</p>
<%-include("footer")-%>